.background-image 
{
    background-image: url('C:/Users/SHWETA/OneDrive/Desktop/Capstone-frontend/css-image/Homebg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.auto-style1 
{
    width: 60%;
    height: 250px;
    margin-left: 305px;
    margin-top: 200px;
    margin-bottom: 0;
    align-content: center;
    text-align: center;
}
